// Color selection
$backgroundBlack: rgb(25, 26, 25);
$titleColor: rgb(218, 247, 55);
$mainFontColor: orange;
$navFontColor: purple;

//media breakpoint
$media-xs: 0px;
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1400px;

//FONT
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

$title-font: ("Montserrat", sans-serif);

html,
body {
  margin: 0;
  padding: 0;
}
body {
  overflow-y: scroll;
  box-sizing: border-box;
  background: $backgroundBlack;
}
header {
  margin: 0 auto;
}
.title-head {
  color: $titleColor;
  font-size: 4rem;
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
  font-family: $title-font;
  letter-spacing: 10px;
}
nav {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.nav-btn-wrapper {
  padding: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 15px auto;
  list-style: none;
  list-style-type: none;
}
.nav-item {
}
.nav-btn {
  border: 0;
  margin: 0 1px;
  min-width: 110px;
  padding: 0;
  height: 30px;
  color: $navFontColor;
  background: white;
  &:hover {
    transform: scale(1.1);
    opacity: 70%;
  }
}
.reservation-btn {
  min-width: 140px;
}
@media (max-width: $media-sm) {
  .nav-btn-wrapper {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav-btn {
    width: 100%;
    &:hover {
      transform: unset;
    }
  }
}
.section-wrapper {
}
.page-section {
  text-align: center;
  max-width: $media-xl;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin: 15px auto;
  @media (max-width: $media-xl) {
    flex-direction: column;
    margin: 15px 0;
  }
}
.menu-side {
  min-width: $media-sm;
  flex-wrap: wrap;
  height: 500px;
  margin: 15px auto;
}
.menu-section-title {
}
.menu-dish {
}

.aboutus-img {
  flex-wrap: wrap;
  min-width: calc(#{$media-sm} - 100px);
  height: calc(#{$media-sm} - 100px);
  background-image: url("./img/founder-photo.jpg");
  background-repeat: no-repeat;
  background-position: 25% 75%;
  margin: 15px auto;
  border: 0;
  box-shadow: n;
}
.aboutus-par-one {
  flex-wrap: wrap;
  min-width: calc(#{$media-sm} + 100px);
  max-width: calc(#{$media-sm} + 100px);
  height: calc(#{$media-sm} - 100px);
  margin: 15px auto;
  background: orange;
}
.aboutus-par-two {
  flex-wrap: wrap;
  margin: 15px auto;
}

@media (max-width: $media-sm) {
  .menu-side {
    margin: 15px 0;
    min-width: calc(#{$media-sm} - 250px);
  }
  .page-section {
    margin: 15px 0;
  }
  .aboutus-par-one {
    min-width: calc(#{$media-sm} - 250px);
    margin: 15px 5px;
  }
  .aboutus-img {
    min-width: calc(#{$media-sm} - 250px);
    margin: 15px 0;
  }
}
@media (max-width: $media-md) {
  .aboutus-par-one {
    min-width: calc(#{$media-sm} - 250px);
    margin: 15px 5px;
  }
}
